@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a{
        @apply
            select-none
            cursor-pointer
    }

    li{
        @apply list-none
    }


    ::-webkit-scrollbar {
    width: 4px;
    }


    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply
            bg-blue-400
            hover:bg-blue-500
            dark:bg-yellow-600
            dark:hover:bg-yellow-700;
        border-radius : 10px
    }


}

@layer components {
    .styled-btn{
        @apply 
            text-gray-100
            select-none   
            font-semibold 
            
            border-transparent 
            px-4 
            py-1
            my-2
            rounded-lg 
            w-max

            bg-gradient-to-r
            from-purple-500
            via-blue-500
            to-green-500
             
            hover:from-yellow-500
            hover:to-pink-500
            
            active:from-green-500
            active:to-yellow-500

            active:ring-2 
            active:ring-blue-500
            active:ring-offset-2
            active:ring-offset-yellow-100
    }

    .styled-input{
        @apply 
            dark:bg-gray-200
            px-4
            py-1
            my-1
            rounded-lg
            outline-none
            text-gray-600

            border-2
            border-transparent
            hover:border-blue-200
            focus:border-blue-500

            w-full
            max-w-xs

    }

    .avatar {
        @apply
            h-9  
            w-9
            rounded-full
            object-cover
            object-center
     
    }
    
    .temp-avatar{
    @apply 
        rounded-full
        flex
        justify-center
        items-center
        font-semibold
        text-gray-300
    }
        
    .smooth-transform {
        @apply
            transition
            duration-500
    }

    .rounded-btn{
        @apply 
            flex
            justify-center
            items-center
            p-1
            rounded-full
            border-2
            border-transparent
            hover:border-blue-400
            cursor-pointer
            select-none;
        @apply smooth-transform
    }

    
}